html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: content-box;
}

body {
    font-family: sans-serif;
}

$primary: #082e58;
$secondary: #bcc758;
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'bd-placeholder-img.scss';